<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

<div class="jumbotron">
  <div class="container">
    <h1>Bootstrap all the things!</h1>
    <p>Rapid prototyping with angular-ui and angular-bootstrap</p>
  </div>
</div>

<div class="container">
      <!-- Example row of columns -->

      <div class="row">
        <div class="col-md-4">
        	
        	<h3>Test a modal.</h3>
            <button class="btn btn-default" ng-click="open()">Open me!</button>
			<button class="btn btn-default" ng-click="open('lg')">Large modal</button>
			<button class="btn btn-default" ng-click="open('sm')">Small modal</button>
			<div ng-show="selected">Selection from a modal: {{ selected }}</div>
        </div>
        <div class="col-md-4">
	        <h3>Check out this sweet accordian</h3>

			<div ng-controller="AccordionDemoCtrl">
			  <p>
			    <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
			    <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
			  </p>
			
			  <label class="checkbox">
			    <input type="checkbox" ng-model="oneAtATime">
			    Open only one at a time
			  </label>
			  <accordion close-others="oneAtATime">
			    <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
			      This content is straight in the template.
			    </accordion-group>
			    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
			      {{group.content}}
			    </accordion-group>
			    <accordion-group heading="Dynamic Body Content">
			      <p>The body of the accordion group grows to fit the contents</p>
			        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
			        <div ng-repeat="item in items">{{item}}</div>
			    </accordion-group>
			    <accordion-group is-open="status.open">
			        <accordion-heading>
			            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			        </accordion-heading>
			        This is just some content to illustrate fancy headings.
			    </accordion-group>
			  </accordion>
			</div>	        
        </div>
      </div>
      <hr>

      <footer>
        <p>Company 2014</p>
      </footer>
    </div>